h1 {
  font-size: 2.5rem;

}

a {
  text-decoration: none;
  color: inherit
}

.app--container {
  margin: 50px auto;
  width: 550px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: #a5a5a533;
  border-radius: 8px;
}

nav {
  border-radius: 8px;
  z-index: 1;
  margin: 0;
  height: 227px;
  /* height: auto; */
  background: url('./assets/image-36.png'), rgba(91, 84, 84, 0.82) 0px -158.291px / 100% 423.007% no-repeat;
}

.top--nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 4rem 2.5rem 0;

  /* want to figure out how to move searchbar */


}



#searchbar {
  display: flex;
  justify-content: space-between;
  margin: 0 2.5rem;
  border-radius: 6px;
  overflow: hidden;
}

#searchbar>input {
  color: #ffffff;
  width: auto;
  flex-grow: 1;
  padding: 1rem;
  background: #2E2E2F;
  border: none
}

#searchbar>button {
  border: none;
  background: #4B4B4B;
  color: inherit;
  width: 120px;
}

#movie--area {
  margin: 40px auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.no--movies {
  margin-top: 50%;
  text-align: center;
}

.movie--card {
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  border-top: 1.5px #A5A5A5 solid;
  width: 80%;
}

.movie--poster {
  height: 10rem;
  width: 7rem;
  margin-right: 1.3rem;
}

.movie--text {
  display: flex;
  flex-direction: column;
}

.movie--row {
  display: flex;
  gap: .25rem;
  align-items: center;
}

.movie--text .title--rating {
  justify-content: space-between;
  gap: .5rem;
}

.movie--text .stats {
  justify-content: left;
  font-size: .75rem;
  gap: 1.2rem;
  align-items: center;
}

.description {
  color: #A5A5A5;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0;
  max-height: 5rem;
  overflow: hidden;
}

.movie--text a {
  color: #ffffff;
  font-size: .75rem;
}

.read-more {
  display: none;
}

.description.show-more {
  max-height: none;
}

.show-more .read-more {
  display: inline;
}